#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
}

#header-backImg {
    width: 100%;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
    top: 0;
    left: 0;
}

#header-title_h1 {
    font-size: 50px;
    font-weight: bold;
}

#header-title_p {
    font-size: 25px;
}

#header-document_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-document_div span{
    margin: 20px 0;
    font-weight: 600;
    font-size: 20px;
}

#header-document_div-link a {
    padding: 12px;
    border-radius: 10px;
}

#header-document_div-link a:last-child {
    margin-left: 15px;
}
#header-document_div-link a:hover {
    background-color: rgba(97, 218, 251, 0.5);
}